* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #b2b7bf, #8eb3cc, #5a8099);
  transition: background 0.4s ease;
}
